{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Transakcije{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('invoice.create') }}">Novo</a>
  {% endif %}
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <table>
              <thead>
                <tr>
                  <th>Sifra</th>
                  <th>Proizvod</th>
                  <th>Cena</th>
                  <th>Kolicina</th>
                  <th>Ukupno</th>
                </tr>
              </thead>
              <tbody>
                {% for item in invoices %}
                <tr>
                  <td>{{ item['code'] }}</td>
                  <td>{{ item['name'] }}</td>
                  <td>{{ item['price'] }}</td>
                  <td>{{ item['quantity'] }}</td>
                  <td>{{ item['price'] * item['quantity'] }}</td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </header>
    </article>
{% endblock %}